{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}

<div class="menu-container">
  <button class="menu-button" id="menuButton">Iniciar</button>

  <div class="menu-items" id="menuItems">
    <button class="menu-item" onclick="window.location.href='/productos/pagina'">Productos</button>
    <button class="menu-item" onclick="window.location.href='/proveedores/pagina'">Proveedores</button>
    <button class="menu-item" onclick="window.location.href='/clientes/pagina'">Clientes</button>
    <button class="menu-item" onclick="window.location.href='/ventas/pagina'">Ventas</button>
    <button class="menu-item" onclick="window.location.href='/compras/pagina'">Compras</button>
    <button class="menu-item" id="salirButton">Salir</button>
  </div>
</div>

<script src="/static/js/menu.js"></script>

{% endblock %}
