{% extends "base.html" %}
{% block content %}
<main>

  <h1 class="titulo">Lista de Proveedores</h1>
    {% if mensaje %}
      <div class="alerta-exito">{{ mensaje }}</div>
    {% endif %}

  <table class="tabla-proveedores">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Contacto</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for proveedor in proveedores %}
      <tr>
        <td>{{ proveedor.nombre }}</td>
        <td>{{ proveedor.contacto }}</td>
        <td>
  <form action="/proveedores/eliminar/{{ proveedor.nit }}" method="post" style="display:inline;">
    <button type="submit" class="btn-eliminar" onclick="console.log('Click detectado'); return true;">
      Eliminar
    </button>
  </form>
</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="button-container">
    <button class="volver-button" id="volverbutton" onclick="window.location.href='/'">Inicio</button>
  </div>
<div class="button-container-2">
  <button class="eliminados-button" onclick="window.location.href='/proveedoresE/'">
    Eliminados
  </button>
</div>

{% endblock %}
