{% extends "base.html" %}
{% block content %}
<main>
  <h1 class="titulo">Gestión de Ventas</h1>

  <div class="menu-container" style="width:auto; height:auto; margin:100px auto; display:flex; gap:50px;">
    <button class="menu-button" onclick="window.location.href='/ventas/hacer_venta'">
      Hacer Venta
    </button>
    <button class="menu-button" onclick="window.location.href='/ventas/historial_ventas'">
      Historial Ventas
    </button>
  </div>

  <div class="button-container" style="position:fixed; bottom:-400px; left:600px; margin:0;">
    <button class="volver-button" onclick="window.location.href='/'">Atrás</button>
  </div>
</main>
{% endblock %}